.container {
  background-color: #ffffff;
  padding: var(--padding-default);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 68px rgba(119, 128, 146, 0.25);
  transform: scale(1.02);
}

.container h2 {
  color: var(--text-color-grey);
  text-align: left;
}

.callToAction {
  display: flex;
  flex-direction: column;
}

.callToAction input:nth-child(1) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.callToAction input:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}
